# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [ ]:
my_dict = {"a" : 1, "b" : 0, "c" : 3}

In [ ]:

el = "b"
for i in my_dict :
  if i == el :
    my_dict[i] += 1

print(my_dict)

{'a': 1, 'b': 3, 'c': 3}

In [ ]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    dict = {}
    # YOUR CODE HERE
    for i in some_str :
      if checkPresence(i, dict):
        dict[i] += 1
      else :
        dict[i] = 1
    return dict
    
def checkPresence(el, str):
  for i in str :
    if i == el :
      return True

  return False

In [ ]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [ ]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
     # YOUR CODE HERE

    for i in range(len(numbers)-1) :
      min = i
      for j in range(i+1,len(numbers)):
        if less(numbers[min],numbers[j]) == False:   
          min =  j
      swap(i,min, numbers)

    # find second minimum
    for i in range(len(numbers)-1) :
      if numbers[i] < numbers[i+1] :
        return numbers[i+1]

    return numbers[0]

def less(i,j):
  if i < j : 
    return True
  else :
    return False

def swap(i,j, arr) :
  temp = arr[i]
  arr[i] = arr[j]
  arr[j] = temp

[-8, 2, -8, 1, -2, 0]
[-8, -8, 2, 1, -2, 0]
[-8, -8, -2, 1, 2, 0]
[-8, -8, -2, 0, 2, 1]
[-8, -8, -2, 0, 1, 2]
[-8, -8, -2, 0, 1, 2]
Sec_smallest: -2

In [ ]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [ ]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE

In [ ]:
print('Prime numbers:', prime_nums(30))

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [ ]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    # YOUR CODE HERE

In [ ]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [ ]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    # YOUR CODE HERE

In [ ]:
print(gcd(160, 180))

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [ ]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    # YOUR CODE HERE

In [ ]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3,4],[5,6], [7, 8, 9]]))

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 45</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [ ]:
def debug(func):
    """
    :param func: function
    """
    # YOUR CODE HERE

In [ ]:
@debug
def add(a, b):
    return a + b

add(3, 4)

Expected Output:
<table>
  <tr>
    <td>'add(3, 4) was called and returned 7'</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [ ]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        # YOUR CODE HERE

In [ ]:
print('Converted:', Conv().to_roman(44))

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [ ]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        # YOUR CODE HERE

In [ ]:
print('Combinations:', CombinationsList().get_combinations([1, 2, 'a']))

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [ ]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        # YOUR CODE HERE

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        # YOUR CODE HERE

    def getName(self):
        """
        : return str
        """
        # YOUR CODE HERE

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        # YOUR CODE HERE

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [ ]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']